<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.licai"
    android:versionCode="1"
    android:anyDensity="true"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.licai.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.licai.Activity1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.licai.ActivitySetup"
            android:label="@string/Setup" >
        </activity>
        <activity
            android:name="com.example.licai.ActivityOutlay"
            android:label="@string/Outlay" >
        </activity>
        <activity
            android:name="com.example.licai.ActivityIncome"
            android:label="@string/Income" >
        </activity>
        <activity
            android:name="com.example.licai.ActivityDb"
            android:label="@string/Db" >
        </activity>
        <activity
            android:name="com.example.licai.ActivityNote"
            android:label="@string/Note" >
        </activity>
        
        <activity
            android:name="com.example.licai.ActivityMyOutlay"
            android:label="@string/MyOutlay" >
        </activity>
        <activity
            android:name="com.example.licai.ActivityMyIncome"
            android:label="@string/MyIncome" >
        </activity>
    </application>

</manifest>